@import "./mixins.scss";

$font-size: 30px;
$font-size-effect: 24px;
$font-size-tip: 26px;

$font-color:#333333;
$font-color-effect: #999999;
$font-color-tip: #CCCCCC;
$blue: #1679FF;
$font-color-background: #EEEEEE;
$background: #f5f5f5;
$background-tip: #e5e5e5;
$white: #FFFFFF;

$line-heght: 42px;
$line-heght-effect: 33px;
$line-heght-tip: 37px;

$font-family: PingFangSC, PingFangSC-Regular;

$font-weight: 400;
