$color-gray: #F5F5F5;
$color-gray-underline:#E5E5E5;
$color-white: #FFFFFF;
$color-font: #333333;
$color-font-tips: #666666;
$color-tips: #999999;
$color-button: #1B66FF;
$color-checked: #EFF4FF;

$underline: 1px solid #E5E5E5;

$font-weight-big: 500;
$font-weight: 400;
$line-height-big: 27px;
$line-height: 24px;
$font-size-big: 17px;
$font-size: 14px;

$padding: 14px 0 11px 0;
$padding-big: 12px 0 13px 0;
$padding-left: 16px;
$padding-right: 15px;
$padding-top: 17px;
$margin-top: 8px;
$margin-left: 15px;
$img-src : "@/assets/image";

$rotate-90: rotate(90deg);
$rotate-180: rotate(180deg);

// $font-family:  "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$font-family: Source Han Sans CN, Source Han Sans CN-Medium;
